[Config]
bbox = 0.00,0.00,0.00,0.00;1.00,1.00,1.00,1.00;2.00,2.00,2.00,2.00
cookie_webhooks = False
webhook_url = webhook_url
notify = User/role Notification

[DB]
scanner = mad/rdm
scanner_db_name = maddb
portal_db_name = manualdb

host = 0.0.0.0
port = 3306
user = 
password = 
